@import "./base.css";

#app {
    /* max-width导致页面不能全屏显示 */
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* grid布局会导致页面在纵向上只能显示一部分 */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding会导致页面在左右两侧有白边 */
    /* padding: 0 2rem; */
    height: 100vh;
    width: 100%;
  }
}
